@charset "utf-8";

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dt,li,dt,table,tr,td,th,input,select,option,textarea {
    margin: 0;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    font-family : Cafe24SsurroundAir;
}

li{
    list-style: none;
}
places{
    color: black; text-decoration: none;
}

button {
    background: none;
    cursor: pointer;
    border: none;
}

html > body > .searchBtn {
    border: 0 #7FD1AE;
}

html > body > .searchBtn:hover {
    background: #00C385;
    color: white;
}

#container{
    width: 1200px; margin: 0 auto;
    /*background-color: red;*/
}
h1{
    margin: 30px 30px; font-size: 35px; font-weight: bold;
}

.gathering-title {
    /*background-color: blue;*/
    padding: 50px 0;
}

.gathering-title > a {
    font-size: 40px;
    font-family: Cafe24Ssurround;
}

.write-gather{
    float: right;
    /*margin: 30px 0;*/
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 15px;
    margin-bottom: 20px;
    background: #00C385;
    border-radius: 25px;
}

form {
    font-family: Cafe24SsurroundAir;
}

.gather-category {

    margin: 10px;
    clear: both;
    display: flex;
    flex-flow : row wrap;
    font-family: Cafe24SsurroundAir;
    /*background: red;*/
}

.gather-category > div > div {
    color:#00C385;
    font-size: 14px;
    outline-color: #00C385;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    white-space: nowrap;
}

.search{
    margin: 25px 0 ;
}
.search-bar{
    display: flex;
}
.search select{
    width: 200px;
    height: 50px;
    padding: 0 40px;
    font-size: 16px;
    border: 0;
    background: #E8F8F5;
    border-radius: 15px;
}

.bar>input:first-child{
    width: 250px;
    height: 50px;
    border: 0;
    background: #E8F8F5;
    border-radius: 15px;
    margin-left: 15px;
    padding-left: 15px;
    font-size: 16px;
}

.bar>input:last-child{
    width: 100px;
    height: 50px;
    border: 0;
    border-radius: 15px;
    background: #00C385;
    margin-left: 15px;
    font-size: 16px;
}

.places>div{
    width: 1200px;
    height: 200px;
    border-radius: 15px;
    background: #E8F8F5;
    margin-bottom: 20px;
}

.places {
    font-family: Cafe24SsurroundAir;
}
.places>div:hover{
    background: #7FD1AE;
}

.places >div img{
    width: 300px;
    height: 150px;
    margin: 25px 35px;
    float: left;
}

.places>div>a>.place-main{
    color: black;
    padding-top: 60px;
    font-size: 25px;
    display: flex;
    line-height: 20px;
}
.places>div>div{
    padding-top: 30px ;
    font-size: 15px;
    display: flex;
    line-height: 20px;
}

.gather-category input[type="checkbox"]:checked + div {
    color:white;
    background-color: #00C385;
}

.gather-category > div {
    display: inline-block;
    position: relative;
}

.gather-category > div > input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}


/* 사이드바 관련 css */
#my_location_button{position: absolute;bottom:-150px;right:0;z-index: 100;}

html > body .categoryBtn {
    /*all: unset;*/

    background: #7FD1AE;
    border-color: #7FD1AE;
    border-right-color: white;
    font-size:20px;
    font-family: 'Cafe24SsurroundAir';
}

#categoryCard {
    all: unset;
    cursor:pointer;
    display: flex;
    flex-direction: row;
    position:fixed;
    top: 0px;
    left: 0px;
    /*width: 300px;*/
    z-index: 200;
}


/* 추가된 부분 */
.hamburger_line {
    display: inline-block;
    background:black;
    margin: 2px !important;
    width:56px;
    height:7px;
    border-radius:2px;
    box-shadow:0 1px 3px rgba(0,0,0,.5);
    position:relative;
    z-index: 200;
}

.left_sub_menu {
    position: fixed;
    top: 0px;
    width: 300px;
    z-index: 210;
    left: 0px;
    background: white;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    bottom: 50px;
    height: 100%;
    margin-bottom: -70px;
    margin-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0 0px 24px 0 rgb(0 0 0 / 6%), 0 1px 0px 0 rgb(0 0 0 / 2%);
    color: black;
}

.sub_menu {
    margin-top: 50px;
}

.left_sub_menu>.sub_menu li:hover {
    color: #ff5858;
    background-color: #e1e1e1;
}

.left_sub_menu>.sub_menu li {
    color: #333;
    font-size: 17px;
    font-weight: 600;
    padding: 20px 0px 8px 14px;
    /*border-bottom: 1px solid #e1e1e1;*/
}

.sub_menu>div {
    padding-bottom: 4px;
    border-bottom: 3px solid #797979;
    margin-top: 100px;
    font-weight: 600;
    color: #333;
    margin-left: 10px;
    margin-right: 10px;

    font-size:20px;
    font-family: 'Cafe24SsurroundAir';
    line-height: 35px;
}

.sub_menu .fas {
    color: #ff5858;
    font-size: 20px;
    line-height: 20px;
    float: right;
    margin-right: 20px;
}

.sub_menu>.big_menu a {
    color: #333;
    /*font-size: 14px;*/
    font-weight: 600;
    /*border-bottom: 0px solid #e1e1e1;*/
    margin-left: 14px;
    padding-top: 8px;
    font-size: 17px;
    font-family: 'Cafe24SsurroundAir';
}


html > body .categoryBtn:hover {
    /*all: unset;*/

    background: #00C385;
    border-color: #00C385;
    border-right-color: white;
    font-size:20px;
    font-family: 'Cafe24SsurroundAir';
}

.big_menu {
    cursor: pointer;
}

ul {
    padding-inline-start: 0px;
}

a {
    color: #797979;
    text-decoration: none;
    background-color: transparent;
    display: block;
    cursor: pointer;
}

ul {
    list-style: none;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.has_sub {
    width: 100%;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.hide_sidemenu {
    display: none;
}

/* */
#my_location_button{position: absolute;bottom:0;right:0;z-index: 100}
#my_location_button1{position: absolute;bottom:0;right:0;z-index: 100}

.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#search_wrap {position:absolute;top:0;right:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#search_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#search_wrap .option{text-align: center;}
#search_wrap .option p {margin:10px 0;}
#search_wrap .option button {margin-left:5px;}

.gather-category input[type="checkbox"]:checked + div {
    color:white;
    background-color: #00C385;
}

.gather-category > div {
    display: inline-block;
    position: relative;
}

.gather-category > div > input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
