/* 사이드바 관련 css */
html > body .categoryBtn {
    /*all: unset;*/

    background: #7FD1AE;
    border-color: #7FD1AE;
    border-right-color: white;
    font-size:20px;
    font-family: 'Cafe24SsurroundAir';
}

#categoryCard {
    all: unset;
    cursor:pointer;
    display: flex;
    flex-direction: row;
    position:fixed;
    margin-top : 1rem;
    top: 0px;
    left: 0px;
    z-index: 200;
}

#hamburger_button {
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

.left_sub_menu {
    position: fixed;
    top: 0px;
    width: 300px;
    z-index: 210;
    left: 0px;
    background: white;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    bottom: 50px;
    height: 100%;
    margin-bottom: -70px;
    margin-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0 0px 24px 0 rgb(0 0 0 / 6%), 0 1px 0px 0 rgb(0 0 0 / 2%);
    color: black;
}

.sub_menu {
    margin-top: 50px;
}

.left_sub_menu>.sub_menu li:hover {
    color: #ff5858;
    background-color: #e1e1e1;
}

.left_sub_menu>.sub_menu li {
    color: #333;
    font-size: 17px;
    font-weight: 600;
    padding: 20px 0px 8px 14px;
}

.sub_menu > div {
    padding-bottom: 4px;
    border-bottom: 3px solid #797979;
    margin-top: 100px;
    font-weight: 600;
    color: #333;
    margin-left: 10px;
    margin-right: 10px;

    font-size: 20px;
    line-height: 35px;
}

.sub_menu>.big_menu a {
    color: #333;
    font-weight: 600;
    margin-left: 14px;
    padding-top: 8px;
    font-size: 17px;
}


html > body .categoryBtn:hover {

    background: #00C385;
    border-color: #00C385;
    border-right-color: white;
    font-size:20px;
}

.big_menu {
    cursor: pointer;
}

ul {
    padding-inline-start: 0px;
}

ul {
    list-style: none;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px;
}


.hide_sidemenu {
    display: none;
}

.category-div:hover .place-cnt {
    display: block;
}

.category-div:hover .category-img {
    filter: grayscale(0) blur(2px);
    transform: scale(1.5);
    transition: .5s;
}

fieldset {
    position: relative;
    display: inline-block;
    background: #00C385;
    border: none;
    border-radius: 5px;
}

.search-input,
.search-btn {
    position: relative;
    width: 200px;
    height: 50px;
    padding: 0;
    display: inline-block;
    float: left;
}

.search-input {
    color: #666;
    z-index: 2;
    border: 0 none;
}
.search-input:focus {
    outline: 0 none;
}
.search-input:focus + .search-btn {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.search-input:focus + .search-btn .fa {
    -webkit-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    transform: translate(0px, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #fff;
}

.search-btn {
    z-index: 1;
    width: 50px;
    border: 0 none;
    background: #ceb980;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    -webkit-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    transform: translate(-50px, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.fa-search {
    font-size: 1.4rem;
    color: #00C385;
    z-index: 3;
    top: 25%;
    -webkit-transform: translate(-190px, 0);
    -ms-transform: translate(-190px, 0);
    transform: translate(-190px, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
