/* 사이드바 관련 css */
html > body .categoryBtn {
    /*all: unset;*/

    background: #7FD1AE;
    border-color: #7FD1AE;
    border-right-color: white;
    font-size:20px;
    font-family: 'Cafe24SsurroundAir';
}

#categoryCard {
    all: unset;
    cursor:pointer;
    display: flex;
    flex-direction: row;
    position:fixed;
    margin-top : 1rem;
    top: 0px;
    left: 0px;
    z-index: 200;
}

#hamburger_button {
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

.left_sub_menu {
    position: fixed;
    top: 0px;
    width: 300px;
    z-index: 210;
    left: 0px;
    background: white;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
    bottom: 50px;
    height: 100%;
    margin-bottom: -70px;
    margin-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0 0px 24px 0 rgb(0 0 0 / 6%), 0 1px 0px 0 rgb(0 0 0 / 2%);
    color: black;
}

.sub_menu {
    margin-top: 50px;
}

.left_sub_menu>.sub_menu li:hover {
    color: #ff5858;
    background-color: #e1e1e1;
}

.left_sub_menu>.sub_menu li {
    color: #333;
    font-size: 17px;
    font-weight: 600;
    padding: 20px 0px 8px 14px;
}

.sub_menu > div {
    padding-bottom: 4px;
    border-bottom: 3px solid #797979;
    margin-top: 100px;
    font-weight: 600;
    color: #333;
    margin-left: 10px;
    margin-right: 10px;

    font-size: 20px;
    line-height: 35px;
}

.sub_menu>.big_menu a {
    color: #333;
    font-weight: 600;
    margin-left: 14px;
    padding-top: 8px;
    font-size: 17px;
}


html > body .categoryBtn:hover {

    background: #00C385;
    border-color: #00C385;
    border-right-color: white;
    font-size:20px;
}

.big_menu {
    cursor: pointer;
}

ul {
    padding-inline-start: 0px;
}

ul {
    list-style: none;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px;
}


.hide_sidemenu {
    display: none;
}
