<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>당신의 안목 메인페이지</title>

    <style>
        .map_wrap, .map_wrap * {
            margin:0;
            padding:0;
            font-family: 'Cafe24SsurroundAir';
            font-size:12px;
        }
    </style>

    <!--제이쿼리-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!--bxSlider JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
    <!--bxSlider CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    <!--테일윈드-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!--부트스트랩 CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--부트스트랩 JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--데이지UI-->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.20.0/dist/full.css" rel="stylesheet" type="text/css" />
    <!--폰트어썸-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <!--카카오-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0faeb3dc4793a50259747d85fd7d9a89&libraries=services"></script>
    <!--CSS파일-->
    <link rel="stylesheet" type="text/css" href="/css/popup/popup.css">
    <link rel="stylesheet" type="text/css" href="/css/map/map.css">
</head>

<body>
<div class="map_wrap" style="position: relative;">
    <div id="map" class="w-screen h-screen" >

    </div>


    <button id="my_location_button" onclick="getCurrentPosBtn()">
        <i class="fas fa-crosshairs fa-2x"></i>
    </button>
    <form th:action="@{/searchMap}" id="searchMapFormByCategoryId">
        <input type="text" name="categoryId" th:value="${categoryId}" id="searchMapButtonByCategoryId" size="15" style="display: none;" />
        <button id="addPlaceinCategory" type="submit">현재 카테고리에 장소 추가하기</button>
    </form>
    <button id="makeMyCategory" onclick="location.href='/category/add'">나만의 카테고리 만들기</button>

    <div id="menu">
        <div class="close"></div>

        <div id="categoryCard" class="d-flex flex-row btn-group my-3 " role="group">
            <button id="hamburger_button" type="button">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <div id="categoryNameTag" th:text="${categoryName}"></div>
        </div>

        <div class="left_sub_menu">
            <div class="sub_menu">
                <div class="d-flex flex-row justify-between">
                    <a class="h3" href="/">당신의 안목 👀</a>
                        <form action="/auth/loginProc" method="post">
                            <a sec:authorize="isAnonymous()" href="https://kauth.kakao.com/oauth/authorize?client_id=84bb53ddc4e742b0c6aa6c06a6372dbc&redirect_uri=http://localhost:8080/auth/kakao/callback&response_type=code"><img width="70px" height="50px" src="/image/KakaoLoginBtn.jpg"></a>
                            <div class="btn btn-warning" sec:authorize="isAuthenticated()"><a class="text-white text-decoration-none" href="/logout">로그아웃</a></div>
                        </form>
                </div>

                <ul class="big_menu">
                    <li><a href="/category/home">🏞 카테고리</a></li>
                </ul>
                <ul class="big_menu">
                    <li><a href="/gathering/list">⚡️ 번개모임</a></li>
                </ul>
                <ul class="big_menu">
                    <li><a sec:authorize="isAuthenticated()" href="/mypage">🛍 마이페이지</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div id="category_item_list_wrap">
        <ul id="placeList">
            <div class="recommendedTitle">추천장소</div>

        </ul>
    </div>
</div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0faeb3dc4793a50259747d85fd7d9a89&libraries=services&autoload=false"></script>


<script th:inline="javascript">
    // 컨트롤러에 있는 값을 th:inline="javascript"를 통해 자바스크립트로 가져오기 밑에 있는 주석은 꼭 달아줘야 한다.

    /*<![CDATA[*/

    let allPlaceList = [[${allPlaceList}]];
    console.log(allPlaceList);

    /*]]>*/

</script>

<script>
    let container = document.getElementById("map");
    let options = {
        // 일단 홍대를 중심으로 잡는 맵 생성
        center: new kakao.maps.LatLng(37.511133583298516, 126.97978788338133),
        // // 일단 적당한 지도의 높이 레벨 7 정도로 수정
        level: 7
    };

    let map = new kakao.maps.Map(container, options);

    $(function () {
        $(".left_sub_menu").hide();
        $("#hamburger_button").click(function () {
            $(".left_sub_menu").fadeToggle(300);
        });
        // // 왼쪽메뉴 드롭다운
        // $(".sub_menu ul.small_menu").hide();
        // $(".sub_menu ul.big_menu").click(function () {
        //     $("ul", this).slideToggle(300);
        // });
        // 외부 클릭 시 좌측 사이드 메뉴 숨기기
        $('#map').on('click', function () {
            $('.left_sub_menu').fadeOut();
            $('.hide_sidemenu').fadeIn();
        });
    });

    // 주소 - 좌표 변환 객체를 생성한다.
    let geocoder = new kakao.maps.services.Geocoder();

    function closePopup() {
        document.getElementById("detail_popup_layer").style.display = "none"
    }

    function slider() {
        var slide = $('.bxslider').bxSlider({
            mode: "horizontal",    // 가로 수평으로 슬라이드된다.
            speed: 200,        // 이동 속도를 설정한다.
            pager: false,    // 현재 위치 페이지 표시 여부를 설정한다.
            moveSlides: 2,    // 슬라이드 이동 시 개수를 설정한다.
            slideWidth: 280,    // 슬라이드 너비를 설정한다.
            minSlides: 4,    // 최소 노출 개수를 설정한다.
            maxSlides: 4,    // 최대 노출 개수를 설정한다.
            slideMargin: 28, // 슬라이드 간의 간격을 설정한다.
            auto: true,         // 자동으로 흐를지 여부를 설정한다.
            autoHover: true, // 마우스오버 시 정지할지를 설정한다.
            controls: true    // 이전 버튼, 다음 버튼 노출 여부를 설정한다.
        });

        slide.reloadSlider();
    };

    let placeList = document.getElementById('placeList');

    // 주소로 좌표를 검색한다. 테이블 주소 -> 좌표 -> 지도에 마커로 표시
    for (let i =0;i<allPlaceList.length;i++) {

        geocoder.addressSearch(allPlaceList[i].address, function (result, status) {
            let coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시
            let marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });



            kakao.maps.event.addListener(marker, 'click', function (){
               // location.href="/place/"+allPlaceList[i].id+"#load";

                $("#detail_popup_layer").modal('show');

                $.ajax({
                    url : "/place/"+allPlaceList[i].id,
                    type : "GET",
                    async: false,
                    success : function(data){
                        console.log(data);
                        console.log(data.place.name);
                        $('p[id=place_info_placeName]').text(data.place.name);
                        $('p[id=place_info_placeAddress]').text(data.place.address);


                        let categorySize = data.categoryList.length;
                        let gatheringSize = data.placeGatheringDtos.length;
                        let imageSize = data.placeImages.length;
                        let starSize = data.place.star;
                        let emptyStarSize = 5-data.place.star;

                        console.log("카테고리 사이즈는"+categorySize);
                        console.log("카테고리 이름:"+data.categoryList[0].tagName);
                        function categoryDOM(categoryList){
                            let tr = '';

                            tr+=`<tr>`;
                            for (let i=0;i<categorySize;i++) {
                                tr += `    <button class="categoryNameBtn" onclick="location.href='/category?id=${categoryList[i].id}'">${categoryList[i].tagName}</button>`
                            }

                            tr+=`</tr>`;
                            console.log(tr);
                            document.getElementById("place_info_categoryList").innerHTML=tr;
                        }

                        function gatheringDOM(gatheringList){
                            let tr = '';

                            tr+=`<tr>`;
                            for (let i=0;i<gatheringSize;i++){
                                tr +=`    <button class="gathingTitleBtn" onclick="location.href='/gathering/${gatheringList[i].id}'">${gatheringList[i].title}</button>`
                            }
                            tr+=`</tr>`;
                            console.log(tr);
                            document.getElementById("place_info_gatheringList").innerHTML=tr;
                        }

                        function starDOM(star){
                            let tr = '';

                            tr+=`<tr>`;
                            for (let i=0;i<starSize;i++){
                                tr +=`    <img src="/images/star.png" class="star">`
                            }
                            tr+=`</tr>`;

                            tr+=`<tr>`;
                            for (let i=0;i<emptyStarSize;i++){
                                tr +=`    <img src="/images/empty_star.png" class="star">`
                            }
                            tr+=`</tr>`;
                            console.log(tr);
                            document.getElementById("star_box").innerHTML=tr;
                        }

                        function imageDOM(placeImages){
                            let ul = '';
                            if(imageSize!=0) {
                                ul += `<ul class="bxslider">`;
                                ul += `    <tr>`;
                                for (let i = 0; i < imageSize; i++) {
                                    ul += `        <li><img class="usr_img" src="/placeimg/${placeImages[i].filePath}"></li>`
                                }
                                ul += `    </tr>`;
                                ul += `</ul>`;
                            }
                            document.getElementById("place_info_imageList").innerHTML=ul;
                        }

                        categoryDOM(data.categoryList);
                        gatheringDOM(data.placeGatheringDtos);
                        imageDOM(data.placeImages);
                        starDOM(data.place.star);

                        slider();
                    }
                });

            });

            let content = '<div class="customoverlay">' +

                '   <span class="title">'+allPlaceList[i].name+'</span>' +

                '</div>';

            let customOverlay = new kakao.maps.CustomOverlay({
                map:map,
                position: coords,
                content:content,
                yAnchor:0.2
            });


            let listItem = document.createElement("div");
            listItem.setAttribute("class","listItem bg-white text-center py-2 rounded-[10px] h-[50px] my-[3px]");
            let item="";
            item+=`<div class="list_item_name">`+allPlaceList[i].name+`</div>`;
            item+=`<div class="list_item_address">`+allPlaceList[i].address+`</div>`;


            listItem.innerHTML=item;
            placeList.appendChild(listItem);


            (function(map, marker, customOverlay, listItem) {

                kakao.maps.event.addListener(marker,'mouseover',function (){
                    listItem.classList.remove('bg-white');
                    listItem.classList.add('bg-[#7FD1AE]');
                });

                kakao.maps.event.addListener(marker,'mouseout',function (){
                    listItem.classList.add('bg-white');
                    listItem.classList.remove('bg-[#7FD1AE]');
                });

                listItem.onmouseover = function (){
                }

                listItem.onmouseout = function (){
                }

            })(map, marker, customOverlay, listItem);


            // kakao.maps.event.addEventListener(marker, 'mouseout', function () {
            //     // 마커에 마우스아웃 이벤트 발생하면 인포윈도우 제거
            //     infowindow.close();
            //
            // });

        })


    }

        function locationLoadSuccess(pos) {
            let currentPos = new kakao.maps.LatLng(
                pos.coords.latitude,
                pos.coords.longitude
            );

            map.panTo(currentPos);
            map.setLevel(4);
        }

        function getCurrentPosBtn() {
            navigator.geolocation.getCurrentPosition(locationLoadSuccess, null);
            console.log("현재위치 버튼 클릭됨");
        }

</script>

<!--장소 상세 팝업창 레이아웃 html-->
<div id="detail_popup_layer">
    <div id="popup_box1">
        <!--팝업 컨텐츠 영역-->
        <div id="popup_contents ">
            <th:block th:replace="popup/detailPopup"></th:block>
        </div>
    </div>
</div>
</body>
<script>

</script>
</html>
