<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body class="flex justify-center">

<div id="container" class="w-[1050px] flex-col justify-center bg-[inherit] p-[20px]">

  <!-- header(로그인, 로그아웃 등의 버튼 표시) -->
  <div id="header" class="flex justify-end mr-[25px] mt-[25px]">
    <!--TODO 로그인, 회원가입 링크 수정 필요 -->
    <div class="badge badge-outline mx-[5px] bg-[#01c9c6] border-[#01c9c6]"><a href="/#">로그인</a></div>
    <div class="badge badge-outline mx-[5px] bg-[#01c9c6] border-[#01c9c6]"><a href="/#">회원가입</a></div>
  </div>

  <!-- 웹 페이지 이름 -->
  <div id="web_name" class="text-3xl flex justify-center">
    당신의 안목👀
  </div>

  <!-- 카테고리 검색, 전체보기 기능 버튼 -->
  <div id="search" class="flex items-center justify-start m-[25px]">

    <div class="mr-[10px]">카테고리</div>

    <form action="/category/home">
      <input type="text" placeholder="키워드를 입력하세요" name="keyword" class="input input-bordered bg-[#e8f8f5] border-[#e8f8f5] w-[200px] h-[50px] rounded-[15px]"/>
      <button type="submit" class="btn btn-square bg-[#01c9c6] border-[#01c9c6] text-[black] w-[100px] h-[50px] rounded-[15px]">
        검색
      </button>
      <a href="/category/home"><button type="button" class="btn btn-square bg-[#01c9c6] border-[#01c9c6] text-[black] w-[100px] h-[50px] rounded-[15px]">
        초기화
      </button></a>
    </form>

  </div>

  <!-- 카테고리 나열 부분 -->
  <div id="category_container" class="flex items-center mt-[25px]">

    <!-- back 버튼 -->
    <div id="back" class="h-[70px] w-[70px] flex text-center relative">
      <th:block th:if="${categories.hasPrevious}">
        <a th:href="@{|?page=${categories.number-1}&keyword=${keyword}|}">
        <img src="/images/back.png" class="prev_btn_img">
        </a>
      </th:block>
    </div>

    <!-- 카테고리 -->
    <div id="category" class="flex flex-wrap w-[900px] justify-center">

      <!--TODO 카테고리명 클릭시 지도 이동 링크 수정 필요 -->
      <div class="tag_name" th:each="category : ${categories}">
        <a th:href="@{/map/category(id=${category.id})}">
          <div class="h-[200px] w-[250px] bg-[#e8f8f5] mx-[15px] my-[15px] rounded-[15px] flex items-center justify-center hover:bg-[#01c9c6]">
            <div class="m-[10px]">[[${category.tagName}]]</div>

            <input type="hidden" value="${category.id}" >
            <!-- TODO user id에 따른 카테고리 추가 기능 구현 필요 -->
            <a th:href="@{/bookmark/register(categoryId=${category.id})}">
              <span class="px-4 py-2  text-base rounded-full text-indigo-500 border border-indigo-500 undefined ">Bookmark</span>
            </a>
          </div>
        </a>
      </div>

    </div>

    <!-- next 버튼 -->
    <div id="next" class="h-[70px] w-[70px] flex text-center relative">
      <th:block th:if="${categories.hasNext}">
        <a th:href="@{|?page=${categories.number+1}&keyword=${keyword}|}">
          <img src="/images/next.png" class="next_btn_img">
        </a>
      </th:block>
    </div>

  </div>

  <div class="divider"></div>

  <!-- 번개 리스트 & 맞춤형 카테고리 부분 -->
  <!-- TODO 맞춤형 카테고리 부분 추가 필요 -->

  <div id="gathering-list" class="h-[150px] w-[400px]">

    <div class="flex justify-between">
      <div class="text-2xl mx-[10px] ">⚡️같이 놀 사람</div>
      <a href="/gathering/list"><button type="button" class="btn btn-square bg-[#01c9c6] border-[#01c9c6] text-[black] w-[100px] h-[50px] rounded-[15px]">
        전체보기
      </button></a>
    </div>


    <div class="tag_name"
         th:each="gathering : ${gatheringList}">

      <a th:href="@{/gathering/{id}(id=${gathering.boardId})}">
        <div class="bg-[#e8f8f5] mx-[15px] my-[15px] rounded-[15px] items-center justify-center hover:bg-[#01c9c6]">
          <div th:text="${gathering.title}"></div>
          <div th:text="${gathering.gatheringDate}"></div>
          <div th:text="${gathering.commentCnt}"></div>
        </div>
      </a>

    </div>

  </div>


</div>

</body>
</html>