<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<link href="https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
<link href="/css/category/home.css" rel="stylesheet">


<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <style>
    @font-face {
      font-family: 'Cafe24SsurroundAir';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'Cafe24Ssurround';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    html > body {
      font-family: "Cafe24SsurroundAir";
    }

    #web_name {
      font-family: "Cafe24Ssurround";
    }

  </style>
</head>
<body class="flex static justify-center bg-[white] text-[black]">

<!--  사이드바 관련 화면  -->
<div class="absolute top-[0] left-[0]">
  <div id="menu">
    <div class="close"></div>

    <div id="categoryCard" class="flex flex-row my-3 " role="group">
      <button id="hamburger_button" type="button" class="categoryBtn">
        <i class="fas fa-bars fa-2x text-[#fff]"></i>
      </button>
    </div>


    <div class="left_sub_menu">
      <div class="sub_menu">
        <div class="flex flex-row justify-between">
          <a class="text-3xl" href="/">당신의 안목 👀</a>
        </div>
        <ul class="big_menu">
          <li><a href="/">🗺 지도보기</a></li>

        </ul>
        <ul class="big_menu">
          <li><a href="/gathering/list">⚡️ 번개모임</a></li>

        </ul>
        <ul class="big_menu">
          <li><a sec:authorize="isAuthenticated()" href="/mypage">🛍 마이페이지</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="container" class="w-[1200px] flex-col justify-center bg-[inherit]">

  <div id="header">

    <!-- 웹 페이지 이름 -->
    <div id="web_name" class="text-[40px] flex justify-start py-[50px]">
      <a th:href="@{/category/home}" class="m-[0.5rem] text-[#343a40]"> 당신의 안목 👀</a>
    </div>

    <!-- header button(로그인, 로그아웃, 회원가입, 마이페이지 버튼 표시) -->
    <div id="header-button" class="flex justify-end ">
      <!--TODO 헤더로 따로 분리 필요 -->
      <div sec:authorize="!isAuthenticated()">
        <button class="px-[20px] py-[10px] bg-[#00C385] rounded-[25px] text-[white]"><a href="https://kauth.kakao.com/oauth/authorize?client_id=84bb53ddc4e742b0c6aa6c06a6372dbc&redirect_uri=http://localhost:8080/auth/kakao/callback&response_type=code">로그인</a></button>
      </div>

      <div sec:authorize="isAuthenticated()">
        <button class="px-[20px] py-[10px] bg-[#00C385] rounded-[25px] text-[white] mr-[15px] mb-[20px]"><a href="/logout">로그아웃</a></button>
        <button class="px-[20px] py-[10px] bg-[#00C385] rounded-[25px] text-[white] mr-[15px] mb-[20px]"><a th:href="@{/category/add}">나만의 카테고리 만들기 ✏️</a></button>
      </div>

    </div>

  </div>

  <!-- 카테고리 검색, 전체보기 기능 버튼 -->
  <div id="search" class="flex items-center justify-start m-[25px]">

    <div class="mr-[30px] font-bold mb-[8px]"><a th:href="@{/category/home}">🗂 카테고리</a></div>

    <div class="search-div">
      <form action="/category/home"><fieldset><input class="search-input pr-[3px]" type="search" placeholder="키워드를 입력하세요..." name="keyword"/><button class="search-btn" type="submit"><i class="fa fa-search"></i></button></fieldset></form>
    </div>

  </div>

<!--  &lt;!&ndash; 카테고리 추가 기능 -&ndash;&gt;
  <div id="add" class="flex items-center justify-end m-[25px]">

    <form>
      <input type="text" placeholder="카테고리명을 입력하세요" name="tagName" class="tag-name input input-bordered bg-[#e8f8f5] border-[#e8f8f5] w-[200px] h-[50px] rounded-[15px]"/>
      <input type="hidden" class="last-page" th:value="${categories.totalPages}">
      <input type="hidden" class="number-of-elements" th:value="${categories.totalElements}">
      <button type="button" class="add-category-btn btn btn-square bg-[#01c9c6] border-[#01c9c6] text-[black] w-[100px] h-[50px] rounded-[15px]">
        등록
      </button>
    </form>

  </div>-->

  <!-- 카테고리 나열 부분 -->
  <div id="category_container" class="flex items-center mt-[25px] font-bold">

    <!-- back 버튼 -->
    <div id="back" class="h-[70px] w-[70px] flex text-center relative">
      <th:block th:if="${categories.hasPrevious}">
        <a th:href="@{/category/home(page=${categories.number-1},keyword=${keyword})}">
        <img src="/images/back.png" class="prev_btn_img">
        </a>
      </th:block>
    </div>

    <!-- 카테고리 -->
    <div id="category" class="flex flex-wrap w-[900px] justify-center">

      <div class="category-div relative h-[200px] w-[250px] mx-[15px] my-[15px] rounded-[15px] tag_name bg-[#e8f8f5]" th:each="category : ${categories}">
        <a th:href="@{/category(id=${category.id})}">
          <!-- TODO image 부분 일부 키워드에 따라 사진 표시되게 구현 -->
          <img class="category-img h-[100%] w-[100%] rounded-[15px] opacity-60 align-middle"
               th:src="@{/images/gathering-image-test.png}" alt="카테고리 사진">
          <div class="text-center absolute w-[100%] top-[50%] left-[0] translate-y-[-50%]">
            <div class="m-[10px] font-bold">[[${category.tagName}]]</div>
            <div class="place-cnt m-[10px] font-bold hidden">[[${category.totalPlaceCnt}]]개의 장소</div>

            <input type="hidden" value="${category.id}" >

          </div>

          <div sec:authorize="isAuthenticated()" class="justify-center absolute top-[-10%] right-[-10%] px-4 py-2 text-2xl undefined">

            <th:block th:if="${category.isBookmark() == false}">
              <a th:href="@{/bookmark/register(categoryId=${category.id}, page=${categories.number}, keyword=${keyword})}">
                <span class="bookmark-btn">♡</span>
              </a>
            </th:block>
            <th:block th:if="${category.isBookmark() == true}">
              <a th:href="@{/bookmark/remove(categoryId=${category.id}, page=${categories.number}, keyword=${keyword})}">
                <span class="bookmark-btn">♥</span>
              </a>
            </th:block>

          </div>

        </a>
      </div>

    </div>

    <!-- next 버튼 -->
    <div id="next" class="h-[70px] w-[70px] flex text-center relative">
      <th:block th:if="${categories.hasNext}">
        <a th:href="@{/category/home(page=${categories.number+1},keyword=${keyword})}">
          <img src="/images/next.png" class="next_btn_img">
        </a>
      </th:block>
    </div>

  </div>

  <div class="divider"></div>

  <!-- 번개 리스트 & 맞춤형 카테고리 부분 -->

  <div class="gathering-and-recommend flex">

    <!-- 번개 리스트 나열 부분 -->
    <div id="gathering-list" class="w-[400px]">

      <div class="flex justify-between">
        <div class="text-2xl mx-[10px] ">⚡️같이 놀 사람</div>
        <a href="/gathering/list"><button type="button" class="btn btn-square bg-[#01c9c6] border-[#01c9c6] text-[black] w-[100px] h-[50px] rounded-[15px]">
          전체보기
        </button></a>
      </div>


      <div class="tag_name"
           th:each="gathering : ${gatheringList}">

        <a th:href="@{/gathering/{id}(id=${gathering.boardId})}">
          <div class="bg-[#e8f8f5] mx-[15px] my-[15px] rounded-[15px] items-center justify-center hover:bg-[#01c9c6]">
            <div th:text="${gathering.title}"></div>
            <div th:text="${gathering.gatheringDate}"></div>
            <div th:text="${gathering.commentCnt}"></div>
          </div>
        </a>

      </div>

    </div>

    <!-- 추천 카테고리 나열 부분 -->
    <div id="recommend-category" class="w-[600px] ml-[50px]">

      <div class="text-2xl m-[10px]">🤡 추천 카테고리</div>

      <div class="flex flex-row flex-wrap">

        <div class="category-div relative h-[200px] w-[250px] bg-[#e8f8f5] mx-[15px] my-[15px] rounded-[15px] flex items-center justify-center tag_name" th:each="category : ${recommendCategories}">
          <a th:href="@{/category(id=${category.id})}">
            <img class="category-img h-[200px] w-[250px] rounded-[15px] opacity-60 align-middle"
                 th:src="@{/images/gathering-image-test.png}" alt="카테고리 사진">
            <div class="text-center absolute w-[100%] top-[50%] left-[0] translate-y-[-50%]">
              <div class="m-[10px] font-bold">[[${category.tagName}]]</div>

              <!-- TODO 장소 개수 필요 -->

              <input type="hidden" value="${category.id}" >

            </div>

            <div sec:authorize="isAuthenticated()" class="justify-center absolute top-[-10%] right-[-10%] px-4 py-2 text-2xl undefined">

                <th:block th:if="${category.isBookmark() == false}">
                  <a th:href="@{/bookmark/register(categoryId=${category.id}, page=${categories.number}, keyword=${keyword})}">
                    <span class="bookmark-btn">♡</span>
                  </a>
                </th:block>
                <th:block th:if="${category.isBookmark() == true}">
                  <a th:href="@{/bookmark/remove(categoryId=${category.id}, page=${categories.number}, keyword=${keyword})}">
                    <span class="bookmark-btn">♥</span>
                  </a>
                </th:block>
            </div>

          </a>
        </div>
      </div>

    </div>

  </div>

</div>



<script>
  let arr=[];
  function onClick(id) {
    var button = document.getElementById(id);
    button.classList.toggle('active');
    var idx = arr.indexOf(id);
    if(idx > -1) {
      arr.splice(idx, 1);
    } else {
      arr.push(id);
    }
  }

  $(function () {
    $(".left_sub_menu").hide();
    $("#hamburger_button").click(function () {
      $(".left_sub_menu").fadeToggle(300);
    });

    $('#container').on('click', function () {
      $('.left_sub_menu').fadeOut();
      $('.hide_sidemenu').fadeIn();
    });
  });
</script>


<script src="/js/category/bookmark.js">
</script>



</body>
</html>