@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Cafe24SsurroundAir';
}

/*팝업 배경(회색)*/
#detail_popup_layer, #addPlace_popup_layer {
    position:fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display:none;
}

/*팝업 박스*/
#popup_box1{
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    width: 1120px;
    height:630px;
    transform:translate(-50%, -50%);
    z-index:1002;
    box-sizing:border-box;
    background:#fff;
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
}

#popup_box2 {
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    width: 560px;
    height:562px;
    transform:translate(-50%, -50%);
    z-index:1002;
    box-sizing:border-box;
    background:#fff;
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    font-family: 'Cafe24SsurroundAir';
}

#addPlace_popup_title{
    font-family: 'Cafe24Ssurround';
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
}

/*팝업 닫기 버튼*/
#close{
    width:20px;
    height:20px;
    position:absolute;
    top:50%;
    transform:translate(0, -50%);
    right:35px;
}

#close2{
    width:20px;
    height:20px;
    position:absolute;
    right:35px;
    margin-top:3px;
    margin-bottom:3px;
}

.placeName{
    font-family: 'Cafe24Ssurround';
    font-size: 20px;
}

/* 사진(개별)*/
.usr_img{
    width:280px;
    height:200px;
}

.slidecontainer{
    width:895px;
    height:210px;
    position: relative;
}


/*별점, 번개 박스*/
.inner_contents_box{
    width:445px;
    height:117px;
    border-radius:10px;
    padding:8px 12px;
    overflow: auto;
}

/*장소명, 장소주소 묶음*/
#place_info{
    position:absolute;
    top:50%;
    transform:translate(0, -50%);
    margin-left: 56px;
}

/*별점의 별 5개 묶음*/
#star_box{
    display:flex;
    justify-content: center;
}

/*별(개별)*/
.star {
    width:40px;
    height:40px;
    margin:5px;
}

/*태그 박스*/
#tag_box{
    width:445px;
    height:252px;
    margin-right:28px;
    border-radius:10px;
    padding:8px 12px;
    overflow:auto; /*스크롤바 자동생성*/
}

/*스크롤바*/
.scrollbar::-webkit-scrollbar{
    width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #7FD1AE; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #E8F8F5;  /*스크롤바 뒷 배경 색상*/
}

#addPlaceSubmitBtn{
    width: 250px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    outline: 0;
    background-color: #E8F8F5;
    border-radius: 10px;
    font-family: 'Cafe24SsurroundAir';
    font-weight: 200;
    color: black;
    margin : auto;
    display: block;
    line-height: 40px;
    margin-top: 23px;
}

#addPlaceSubmitBtn:hover{
    width: 250px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    outline: 0;
    background-color: #7FD1AE;
    border-radius: 10px;
    font-family: 'Cafe24SsurroundAir';
    font-weight: 200;
    color: black;
    margin : auto;
    display: block;
    line-height: 40px;
    margin-top: 23px;
}

#tag_box, .inner_contents_box{
    outline-color: #7FD1AE;
    outline-style: solid;
    outline-width: 2px;
    background-color: white;
}

.btn{
    font-family: 'Cafe24SsurroundAir';
}

.gathringListBtn, .gatheringWriteBtn{
    border-radius: 10px;
    background-color: #E8F8F5;
    border:0;
    padding: 3px;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 14px;
    text-align: center;
}

.gathringListBtn:hover, .gatheringWriteBtn:hover{
    border-radius: 10px;
    background-color: #7FD1AE;
    border:0;
    text-align: center;
    padding-right: 6px;
    padding-left: 6px;
}

#popup_top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.gathingTitleBtn, .categoryNameBtn{
    border-radius: 50px;
    outline-style: solid;
    outline-width: 0.8px;
    outline-color: #7FD1AE;
    color: #7FD1AE;
    text-align: center;
    padding: 4px;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 14px;
    margin-bottom: 7px;
    font-weight: 800;
}

.gathingTitleBtn:hover, .categoryNameBtn:hover{
    border-radius: 50px;
    outline-style: solid;
    outline-width: 0.8px;
    outline-color: #7FD1AE;
    background-color: #7FD1AE;
    color: black;
    text-align: center;
    padding: 4px;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 14px;
    margin-bottom: 7px;
    font-weight: 800;
}

.gathingTitleBtn, .gathingTitleBtn:hover{
    display: block;
}