<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>상세보기</title>
    <link rel="stylesheet" type="text/css" href="/css/gathering/detail.css">
</head>
<body>

<div class="container my-3">
    <div class="row">
        <section class="content">
            <div class="content_wrap">
                <div class="title">
                    <h1>같이 모각코 하실분 구합니다</h1>
                </div>
                <div class="name">
                    <p>신림동 노란바지</p>
                    <p>2022년 8월 2일 오후 4:40</p>
                </div>

                <div class="text">
                    <p>카페에서 같이 네 시간 정도 모각코 하실 분 구해요!! <br>
                        모르는 부분 물어보면서 같이 코딩해요~~
                    </p>
                </div>

                <div class="comment">
                    <p>댓글</p>
                    <p>&#40; <span>3</span> &#41;</p>
                </div>

                <ul class="iop">
                    <li>
                        <img src="/images/gather-profile.png" alt="프로필 사진">

                        <div>
                            <p>상도동 불주먹</p>
                            <p>2022년 8월 2일 오후 4:55</p>

                            <p>저 참여하고 싶습니다!</p>
                        </div>
                    </li>

                    <li>
                        <img src="/images/gather-profile.png" alt="프로필 사진">
                        <div>
                            <p>봉천동 파란새</p>
                            <p>2022년 8월 2일 오후 4:56</p>

                            <p>저도 하고 싶습니당!</p>
                        </div>
                    </li>

                    <li>
                        <img src="/images/gather-profile.png" alt="프로필 사진">
                        <div>
                            <p>상도동 물낙지</p>
                            <p>2022년 8월 2일 오후 4:59</p>

                            <p>저요!!!! ㅎㅎ</p>
                        </div>
                    </li>

                    <li>
                        <img src="/images/gather-profile.png" alt="프로필 사진">
                        <div>
                            <p>상도동 물낙지</p>
                            <p>2022년 8월 2일 오후 4:59</p>

                            <p>저요!!!! ㅎㅎ</p>
                        </div>
                    </li>

                    <li>
                        <img src="/images/gather-profile.png" alt="프로필 사진">
                        <div>
                            <p>상도동 물낙지</p>
                            <p>2022년 8월 2일 오후 4:59</p>

                            <p>저요!!!! ㅎㅎ</p>
                        </div>
                    </li>

                    <li>
                        <img src="/images/gather-profile.png" alt="프로필 사진">
                        <div>
                            <p>상도동 물낙지</p>
                            <p>2022년 8월 2일 오후 4:59</p>

                            <p>저요!!!! ㅎㅎ</p>
                        </div>
                    </li>

                    <li>
                        <img src="/images/gather-profile.png" alt="프로필 사진">
                        <div>
                            <p>상도동 물낙지</p>
                            <p>2022년 8월 2일 오후 4:59</p>

                            <p>저요!!!! ㅎㅎ</p>
                        </div>
                    </li>

                    <li>
                        <img src="/images/gather-profile.png" alt="프로필 사진">
                        <div>
                            <p>상도동 물낙지</p>
                            <p>2022년 8월 2일 오후 4:59</p>

                            <p>저요!!!! ㅎㅎ</p>
                        </div>
                    </li>

                    <li>
                        <img src="/images/gather-profile.png" alt="프로필 사진">
                        <div>
                            <p>신림동 꼬마</p>
                            <p>2022년 8월 2일 오후 4:59</p>

                            <p>저요!!!! ㅎㅎ</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <div class="map">
            <h2>번개모임 장소 정보</h2>
            <a href="#"><img src="/images/gather-map.jpg" alt="지도"></a>
            <div>
                <p>숭실대점 스타벅스</p>
                <p>서울 동작구 사당로 4</p>

                <div>
                    <p>날짜</p>
                    <p>2022.08.13</p>
                </div>

                <div>
                    <p>인원</p>
                    <p>&#40; <span>1</span> / <span>3</span> &#41;</p>
                </div>

                <div>
                    <p>별점</p>

                </div>

                <div>
                    <p>상세 정보</p>
                    <p>
                        위치도 좋아 카공하기 좋은 카페로 추천합니다.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
