<!--폰트어썸-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">


<!doctype html>
<html lang="ko">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!--    <script src="https://kit.fontawesome.com/def66b134a.js" crossorigin="anonymous"></script>-->
</head>
<body>

<div class="container my-3">
    <div class="d-flex flex-row">
        <section class="content w-75">
            <div class="content_wrap">
                <div class="title">
                    <h2 th:text="${detailList.getTitle()}"></h2>
                </div>
                <div class="name">
                    <p th:text="${detailList.getNickname()}"></p>
                    <p th:text="${#temporals.format(detailList.getCreatedAt(), 'yyyy.MM.dd HH:mm:ss')}"></p>
                </div>

                <div class="text">
                    <p th:text="${detailList.getText()}"></p>
                </div>

                <div class="comment">
                    <p>💬 댓글</p>
                    <p>&#40; <span th:text="${commentList.size()}"></span> &#41;</p>
                </div>

                <div class="card my-3" th:each="comment, index:${commentList}">
                    <div class="card-body">
                        <a th:id="${comment.commentId}"></a>
                        <div class="d-flex flex-row">
                            <div class="box">
                                <img th:src="${comment.img}" alt="프로필 사진">
                            </div>
                            <div class="m-2 w-100">
                                <div class="d-flex justify-content-between ">
                                    <div th:text="${comment.nickname}"></div>
                                    <div th:text="${comment.createdAt}"></div>
                                </div>
                                <div class="d-flex m-2 justify-content-between ">
                                    <div th:text="${comment.comment}"></div>
                                    <div class="btn bg-light text-dark btn-sm text-start rounded-pill" th:id="|${comment.commentId}|" th:field="|comment-btn-${comment.commentId}|"
                                         th:reply="|reply-${comment.commentId}|" th:nick="${comment.nickname}"
                                         onclick="doAction(this.id, this.getAttribute('reply'), this.getAttribute('nick'))">⤴️ reply</div>
                                </div>
                            </div>
                        </div>
                        <div class="ms-5 d-flex flex-row" th:each="reply, index:${comment.replyList}">

                            <br>
                            <div class="box">
                                <i class="fa-solid fa-arrow-turn-down-right"></i>
                                <img th:src="${reply.img}" alt="프로필 사진">
                            </div>
                            <div class="m-2 w-100">
                                <div class="d-flex justify-content-between ">
                                    <div th:text="${reply.nickname}"></div>
                                    <div th:text="${reply.createdAt}"></div>
                                </div>
                                <div class="d-flex m-2 justify-content-between ">
                                    <div th:text="${reply.comment}"></div>
                                    <div th:id="|${comment.commentId}|" th:reply="|reply-${comment.commentId}|" th:nick="${reply.nickname}" th:field="|comment-btn-${reply.commentId}|" class="btn bg-light text-dark btn-sm text-start rounded-pill" onclick="doAction(this.id, this.getAttribute('reply'), this.getAttribute('nick'))">⤴️ reply</div>
                                </div>

                            </div>
                        </div>
                        <form th:action="@{|/comment/create/${id}|}" th:object="${commentForm}" method="post">
                            <input type="hidden" th:id="applyTo" name="applyTo" th:value="${comment.commentId}" />
                            <input type="hidden" th:id="mentionTo" name="mentionTo" value="" />

                            <div style="display:none !important" th:id="|reply-${comment.commentId}|" th:field="|reply-${comment.commentId}|"  class="d-flex input-group input-group-type-1">
                                  <span class="input-group-text" th:if="${comment.commentId != null}">
                                      <span name="mentionTo" th:id="|reply-nickname-${comment.commentId}|" value="" class="badge bg-primary rounded-pill">@ 다정</span>
                                  </span>
                                <input type="text"  th:field="*{content}" class="form-control" aria-describedby="basic-addon3">
                                <input type="submit" class="btn btn-outline-dark btn-sm m-0" value="작성">
                            </div>
                        </form>
                    </div>
                </div>
                <h5 class="border-bottom my-3 py-2">📝 댓글작성</h5>
                <form th:action="@{|/comment/create/${id}|}" th:object="${commentForm}" method="post" class="my-3">
                    <!--                    <div th:replace="form_errors :: formErrorsFragment"></div>-->
                    <textarea name="content" th:field="*{content}" rows="2" class="form-control"></textarea>
                    <div class="d-flex justify-content-end">
                        <input type="submit" value="댓글기달" class="btn btn-outline-dark btn-sm m-2">
                    </div>
                </form>
            </div>
        </section>


        <div class="map w-20">
            <h2>번개모임 장소 정보</h2>
            <div id="map" style="width:100%; height:200px;"></div>
            <div>
                <p th:text="${detailList.getPlaceName()}"></p>
                <p th:text="${detailList.getAddress()}"></p>

                <div>
                    <p>날짜</p>
                    <p th:text="${#temporals.format(detailList.getGatheringDate(), 'yyyy.MM.dd')}"></p>
                </div>

                <div>
                    <p>인원</p>
                    <p>&#40; <span th:text="${detailList.getGatherCnt()}"></span> / <span th:text="${detailList.getTotalCnt()}"></span> &#41;</p>
                </div>

                <div>
                    <p>별점</p>

                </div>

                <div>
                    <p>상세 정보</p>
                    <p>
                        위치도 좋아 카공하기 좋은 카페로 추천합니다.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0faeb3dc4793a50259747d85fd7d9a89"></script>
<script>
    var lat = [[${detailList.getLat()}]];
    var lon = [[${detailList.getLon()}]];

    console.log(lat);
    console.log(lon);

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(lat, lon), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 마커가 표시될 위치입니다
    var markerPosition  = new kakao.maps.LatLng(lat, lon);

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);

    // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
    // marker.setMap(null);
    // forms


    function doAction(id, reply, nickname) {
        // alert(nickname);
        const btn1 = document.getElementById(id);
        const replyInputForm = document.getElementById(reply);
        const replyNickname = "reply-nickname-"+id;

        // alert(replyNickname);
        if(btn1.style.display != 'none') {
            // btn1.style.display = 'none';
            replyInputForm.style.display = 'block';
            // $(replyInputForm).hide();
            // alert(nickname);
            // document.getElementById(replyNickname).innerHTML = nickname + "님에게 답글 남기는 중...";
            document.getElementById(replyNickname).innerHTML = "@"+nickname;
            document.getElementById("mentionTo").value = nickname;
            // $("#reply-nickname").text(nickname);
        } else {
            replyInputForm.style.display = 'block';
        }
    }
</script>
</body>
<head>
    <meta charset="utf-8">
    <title>상세보기</title>
    <link rel="stylesheet" type="text/css" href="/css/gathering/detail.css">
</head>

</html>
