<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="/css/gathering/list.css" rel="stylesheet">
    <link th:href="@{/css/gathering/list.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--    <script src="https://cdn.tailwindcss.com"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
</head>
<body>
<section id="container">
    <div class="gathering-title">
        <h1>같이 갈사람🤚🏻</h1>
    </div>
    <div class="flex justify-end mr-[25px] mt-[25px]">
        <button sec:authorize="isAnonymous()" class="write-gather"><a th:href="@{/auth/login}">로그인</a></button>
        <button sec:authorize="isAuthenticated()" class="write-gather"><a href="/logout">로그아웃</a></button>
        <button sec:authorize="isAuthenticated()" class="write-gather"><a th:href="@{/gathering/create}">모집하기</a></button>
    </div>
    <form method="get" th:action="|@{/gathering/list}|" th:object="${criteria}">
        <div class="gather-category">
            <div th:each="category,index:${categoryList}">
                <input type="checkbox" name="category" th:value="${category.id}">
                <div th:text="${category.tagName}" type="button" class="btn btn-outline-info"></div>
<!--                <label><input type="button" name="category" class="btn btn-outline-info" th:value="${category.tagName}" th:id="${category.id}" onclick="onClick(this.id)"></label>-->
            </div>
        </div>
        <div class="search">

            <form class="search-bar">
                <select id="classification" name="classification" tabindex="-1" aria-hidden="true">
                    <option value="">분류</option>
                    <!-- 카테고리/주소/이름 -->
<!--                    <option value="category">카테고리</option>-->
                    <option value="address">주소</option>
                    <option value="name">장소명</option>
                    <option value="title">제목 + 내용</option>
                    <option value="author">작성자</option>
                </select>

                <div class="bar">
                    <input type="text" name="searchKeyword" id="searchKeyword" placeholder="검색어를 입력하세요">
                    <input type="submit" value="검색">
                </div>
            </form>
        </div>
    </form>

    <div class="places">
        <div th:each="gathering,index:${gatheringList}" id="gatheringList">
            <a th:href="@{/gathering/{id}(id=${gathering.boardId})}"><img src="/images/gathering-image-test.png" alt="이미지"/></a>
            <a th:href="@{/gathering/{id}(id=${gathering.boardId})}"><div class="place-main" th:text="${gathering.store}+' | '+${gathering.title}"></div></a>
            <div th:text="'📆'+${gathering.meetAt}+'  👥'+${gathering.gatherCnt}+'/'+${gathering.totalCnt}+'명'"></div>
        </div>
    </div>

<!--  사이드바 관련 화면  -->
    <div class="map_wrap" style="position: relative;">
        <div id="menu">
            <div class="close"></div>

            <a id="hamburger_button" class="fas fa-bars fa-3x">왜 안보이냐?</a>

            <div class="left_sub_menu">
                <div class="sub_menu">
                    <h2>메뉴</h2>
                    <ul class="big_menu">
                    <li><a href="/">지도보기</a></li>
                    <!--                    <ul class="small_menu">-->
                    <!--                        <li><a href="#">소메뉴2-1</a></li>-->
                    <!--                        <li><a href="#"></a>소메뉴2-2</a></li>-->
                    <!--                    </ul>-->
                    </ul>
                    <ul class="big_menu">
                        <li><a href="/category/home">카테고리</a></li>
                        <!--                    <ul class="small_menu">-->
                        <!--                        <li><a href="#">소메뉴1-1</a></li>-->
                        <!--                        <li><a href="#">소메뉴1-2</a></li>-->
                        <!--                        <li><a href="">소메뉴1-3</a></li>-->
                        <!--                        <li><a href="#">소메뉴1-4</a></li>-->
                        <!--                    </ul>-->
                    </ul>
                    <ul class="big_menu">
                        <li><a href="/mypage">마이페이지</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    let arr=[];
    function onClick(id) {
        var button = document.getElementById(id);
        button.classList.toggle('active');
        var idx = arr.indexOf(id);
        if(idx > -1) {
            arr.splice(idx, 1);
        } else {
            arr.push(id);
        }
    }

    // $(function () {
    //     $(".left_sub_menu").hide();
    //     $("#hamburger_button").click(function () {
    //         $(".left_sub_menu").fadeToggle(300);
    //     });
    //     // // 왼쪽메뉴 드롭다운
    //     // $(".sub_menu ul.small_menu").hide();
    //     // $(".sub_menu ul.big_menu").click(function () {
    //     //     $("ul", this).slideToggle(300);
    //     // });
    //     // 외부 클릭 시 좌측 사이드 메뉴 숨기기
    //     $('#map').on('click', function () {
    //         $('.left_sub_menu').fadeOut();
    //         $('.hide_sidemenu').fadeIn();
    //     });
    // });
</script>
</body>

</html>
