<script>
    function AddPlaceForm__submit(form) {
        form.placeName.value = form.placeName.value.trim();

        if ( form.placeName.value.length == 0 ) {
            swal("장소명를 입력해주세요.");
            form.placeName.focus();
            return;
        }

        form.address.value = form.address.value.trim();

        if ( form.address.value.length == 0 ) {
            swal("주소를 입력해주세요.");
            form.address.focus();
            return;
        }

        form.categorySelect.value = form.categorySelect.value.trim();

        if ( form.categorySelect.value.length == 0 ) {
            swal("카테고리를 선택해주세요.");
            form.categorySelect.focus();
            return;
        }

        // form.placeImg.value = form.placeImg.value.trim();
        //
        // if ( form.placeImg.value.length == 0 ) {
        //     alert("사진을 첨부해주세요.");
        //     form.placeImg.focus();
        //     return;
        // }

        form.submit();
    }

    function checkSize(input) {
        if(input.files.length>5){
            swal("5개까지만 첨부 가능합니다!");
            input.value = null;
        }else {
            for (var i = 0; i < input.files.length; i++) {
                if (input.files && input.files[i].size > (5 * 1024 * 1024)) {
                    swal("최대 5MB의 파일만 첨부 가능합니다!");
                    input.value = null;
                }
            }
        }
    }

</script>


<th:block th:fragment="addPlace">
    <div class="add_place_popup">
        <p id="addPlace_popup_title">📌 장소 등록하기</p>
        <form th:action="@{/addPlace}" method="POST" enctype="multipart/form-data" onsubmit="AddPlaceForm__submit(this); return false;">
            <div class="m-[10px]">
                <label for="place-name" class="col-form-label">장소명</label>
                <input type="text" value="" class="form-control" id="place-name" name="placeName" readonly>
            </div>
            <div class="m-[10px]">
                <label for="place-address" class="col-form-label">주소</label>
                <input type="text" value="" class="form-control" id="place-address" name="address" readonly>
            </div>
            <div class="m-[10px]" style="display: none">
                <input type="text" value="" class="form-control" id="place-lat" name="lat">
                <input type="text" value="" class="form-control" id="place-lon" name="lon">
            </div>
            <div class="m-[10px]">
                <label for="place-category" class="col-form-label">카테고리</label>
                <input id="place-category" type="text" th:value="${categoryObject.tagName}" class="form-control" name="categorySelect" readonly>
            </div>
            <p class="mx-[10px]">별점</p>
            <div class="rating rating-lg mx-[10px] mb-[10px]">
                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="1" />
                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="2" />
                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="3" checked/>
                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="4" />
                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="5" />
            </div>
            <div class="mx-[10px] mb-[10px]">
                <label for="place-img" class="col-form-label">사진 첨부</label>
                <input class="form-control" type="file" id="place-img" name="placeImg" accept=".jpg, .jpeg, .png" onchange="checkSize(this)" multiple>
            </div>
            <button id="addPlaceSubmitBtn" type="submit">장소 등록하기</button>
        </form>
    </div>
</th:block>