<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.20.0/dist/full.css" rel="stylesheet" type="text/css" />
</head>

<script>
    function AddPlaceForm__submit(form) {
        form.placeName.value = form.placeName.value.trim();

        if ( form.placeName.value.length == 0 ) {
            alert("장소명를 입력해주세요.");
            form.placeName.focus();
            return;
        }

        form.address.value = form.address.value.trim();

        if ( form.address.value.length == 0 ) {
            alert("주소를 입력해주세요.");
            form.address.focus();
            return;
        }

        form.placeImg.value = form.placeImg.value.trim();

        if ( form.placeImg.value.length == 0 ) {
            alert("사진을 첨부해주세요.");
            form.placeImg.focus();
            return;
        }

        form.submit();
    }

</script>


<th:block th:fragment="addPlace">
    <div class="add_place_popup">
        <form th:action="@{/addPlace}" method="POST" enctype="multipart/form-data" onsubmit="AddPlaceForm__submit(this); return false;">
            <div class="m-3">
                <label for="place-name" class="col-form-label">장소명</label>
                <input type="text" value="" class="form-control" id="place-name" name="placeName">
            </div>
            <div class="m-3">
                <label for="place-address" class="col-form-label">주소</label>
                <input type="text" value="" class="form-control" id="place-address" name="address">
            </div>
            <div class="m-3" style="display: none">
                <input type="text" value="" class="form-control" id="place-lat" name="lat">
                <input type="text" value="" class="form-control" id="place-lon" name="lon">
            </div>
            <div class="rating rating-lg m-3">
                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="1" />
                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="2" checked />
                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="3" />
                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="4" />
                <input type="radio" name="rating" class="mask mask-star-2 bg-orange-400" value="5" />
            </div>
            <div class="m-3">
                <label for="place-img" class="col-form-label">사진 첨부</label>
                <input class="form-control" type="file" id="place-img" name="placeImg" multiple>
            </div>
            <button type="submit" class="btn btn-primary m-3">등록</button>
        </form>
    </div>
</th:block>