<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.20.0/dist/full.css" rel="stylesheet" type="text/css" />
</head>

<th:block th:fragment="addPlace">
<body>
<div class="add_place_popup">
    <form action="@{/addPlace}" th:action method="POST" enctype="multipart/form-data">
        <div class="m-3">
            <label for="place-name" class="col-form-label">장소명</label>
            <input type="text" class="form-control" id="place-name">
        </div>
        <div class="m-3">
            <label for="place-address" class="col-form-label">주소</label>
            <input type="text" class="form-control" id="place-address">
        </div>
        <div class="rating rating-lg m-3">
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400" checked />
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400" />
            <input type="radio" name="rating-8" class="mask mask-star-2 bg-orange-400" />
        </div>
        <div class="m-3">
            <label for="place-img" class="col-form-label">사진 첨부</label>
            <input class="form-control" type="file" id="place-img" multiple>
        </div>
        <button type="button" class="btn btn-secondary m-3" data-dismiss="modal">취소</button>
        <button type="button" class="btn btn-primary m-3">등록</button>
    </form>
</div>
</body>
</th:block>
