<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="/css/popup/popup.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
</head>

<!-- 타임리프 html 연결 코드 -->
<th:block th:fragment="contentsTop">
    <!-- 팝업 상단부 -->
    <div id="popup_top" class="w-[1120px] h-[100px] bg-[#e8f8f5] rounded-[10px] relative">
        <!-- 장소명, 장소 주소 묶음 -->
        <div id="place_info">
            <p class="placeName" id="place_info_placeName"></p>
            <p class="placeAddress" id="place_info_placeAddress"></p>
        </div>
        <div id="close" onclick="closePopup()"><img src="/images/cross.png"></div>
    </div>
</th:block>

<!-- 타임리프 html 연결 코드 -->
<th:block th:fragment="contentsMiddle">
    <!-- 팝업 중간부(사진 영역) -->
    <div id="popup_bottom_01" class="flex justify-center mt-[25px]">
        <div class="slidecontainer">
            <div id="place_info_imageList">

            </div>
<!--            <ul class="bxslider">-->
<!--                -->
<!--                <tr th:each="imageList : ${placeImageList}" th:if="${placeImageList != null}">-->
<!--                    <li><img class="usr_img" th:src="@{|/placeimg/${imageList.filePath}|}"></li>-->
<!--                </tr>-->
<!--            </ul>-->
        </div>
    </div>
</th:block>

<!-- 타임리프 html 연결 코드 -->
<th:block th:fragment="contentsBottom">
    <!-- 팝업 태그, 별점, 번개 묶음 -->
    <div id="popup_bottom_02" class="flex justify-between align-middle left-[50%] w-[896px] mt-[18px] mx-auto">
        <!-- 팝업 - 태그 영역 -->
        <div id="tag_box" class="scrollbar">
            <p class="mb-2">TAG LIST🔖</p>
            <div id="place_info_categoryList">

            </div>
        </div>
        <!-- 팝업 - 별점, 번개모임 묶음 -->
        <div>
            <!-- 팝업 - 별점 영역 -->
            <div class="inner_contents_box">
                <p class="mb-2">별점⭐</p>
                <div id="star_box">

                </div>
<!--                <div id="star_box" th:if="${stars != null} or ${emptystars != null}">-->
<!--                    <tr th:each="star : ${#numbers.sequence(1, stars, 1)}">-->
<!--                        <img src="/images/star.png" class="star">-->
<!--                    </tr>-->
<!--                    <tr th:each="star : ${#numbers.sequence(emptystars, 1, -1)}">-->
<!--                        <img src="/images/empty_star.png" class="star">-->
<!--                    </tr>-->
<!--                </div>-->
            </div>

            <!-- 팝업 - 번개모임 리스트 영역 -->
            <div id="article_box" class="inner_contents_box mt-[18px] scrollbar">
                <div class="flex justify-between">
                    <p class="mb-2 w-max inline-block">GATHERING LIST📃</p>
                    <div class="inline-block">
                        <button class="btn btn-accent btn-xs" th:onclick="|location.href='@{|/gathering/create|}'|">글쓰기</button>
                        <button class="btn btn-accent btn-xs" th:onclick="|location.href='@{|/gathering/list|}'|">전체 보기</button>
                    </div>
                </div>
                <div id="place_info_gatheringList">

                </div>
            </div>
        </div>
    </div>
</th:block>

</html>